.mainContainer {
	height: 100vh;
	display: flex;
}

.sideBar {
	width: 15%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	padding: 0 2rem;
	background-color: #e5e5e5;
}

.sideBarCategories {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3rem;
	height: 100%;
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 2rem 4rem;
	position: fixed;
	top: 0;
	right: 0;
	left: 15%;
	background-color: #e5e5e5;
}

.categories {
	list-style: none;
	padding: 0;
	display: flex;
	gap: 2rem;
	align-items: center;
}

.category {
	display: flex;
	align-items: center;
	gap: 0.3rem;
}
.category:hover {
	cursor: pointer;
}

/* SETTINGS */

.settingsContainer {
	display: flex;
	list-style: none;
	padding: 0;
	align-items: center;
	gap: 2rem;
}

.setting:hover {
	cursor: pointer;
}
