.mainContainer {
	height: 100vh;
	display: flex;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}

.mainContaintContainer {
	background-color: yellow;
	width: 100%;
}

.sideBar {
	width: 15%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding: 0 2rem;
	background-color: #e5e5e5;
	position: fixed;
	left: 0;
	top: 4rem;
}

.sideBarCategories {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3rem;
	height: 100%;
}

.navigation {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: flex-start;
	padding: 2rem 4rem;
	background-color: #e5e5e5;
	position: fixed;
	top: 0;
}

.categories {
	list-style: none;
	padding: 0;
	display: flex;
	gap: 2rem;
	align-items: center;
}

.category {
	display: flex;
	align-items: center;
	gap: 0.3rem;
}
.category:hover {
	cursor: pointer;
}

/* SETTINGS */

.settingsContainer {
	display: flex;
	list-style: none;
	padding: 0;
	align-items: center;
	gap: 2rem;
}

.setting:hover {
	cursor: pointer;
}

/* MAIN CONTENTS */

.section {
	height: 100vh;
	border-bottom: 1px solid greenyellow;
	margin-left: 15.2%;
	background-color: red;
}
