.mainContainer {
	display: flex;
	gap: 2rem;
	background-color: green;
	width: 100%;
	height: 100vh;
	padding: 2rem;
}

.sidebar {
	width: 30%;
	background-color: yellow;
	border-radius: 2rem;
}

.mainContents {
	width: 70%;
	overflow-y: scroll;
	background-color: blue;
	border-radius: 2rem;
	/* For Firefox */
	scrollbar-width: none;

	/* For WebKit browsers (Chrome, Safari, etc.) */
	-webkit-overflow-scrolling: touch; /* Enables smooth scrolling */
}

.mainContainer::-webkit-scrollbar {
	display: none;
}
